polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.policykit.exec" &&
        action.lookup("program") == "/usr/local/bin/limad-airdrop-control" &&
        subject.local && subject.active) {
        return polkit.Result.AUTH_ADMIN_KEEP;
    }
});
