[Desktop Entry]
Type=Application
Name=LiMaD Standard-Apps installieren
Comment=Installiert Zen Browser, Aerion, Zoom, YTMDesktop, EasyEffects und Bazaar automatisch für den aktuellen Benutzer
Exec=/usr/local/bin/limad-install-default-flatpaks
TryExec=/usr/local/bin/limad-install-default-flatpaks
Terminal=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=12
OnlyShowIn=GNOME;
