[Desktop Entry]
Type=Application
Version=1.0
Name=Windows-Programme
GenericName=Windows-Installer
Comment=Windows-Programme installieren und starten
Exec=/usr/local/bin/limad-windows-setup
TryExec=/usr/local/bin/limad-windows-setup
Icon=de.limad.WindowsApps
Terminal=false
StartupNotify=true
Categories=System;Emulator;
Keywords=Windows;EXE;MSI;Wine;Installer;
